manifest {
    homePage = 'https://github.com/ucagenomix/sicelore'
    description = 'SiCeLoRe (Single Cell Long Read) is a suite of tools dedicated to cell or spatial barcode and unique molecular identifier (UMI) assignment of highly multiplexed single cell or Spatial (Visium) Nanopore long read sequencing dataset.'
    mainScript = 'sicelore-nf/main.nf'
    version = '1.0.0'
}