manifest {
    name            = 'sicelore-2.1'
    author          = 'Kevin Lebrigand'
    homePage        = 'https://github.com/ucagenomix/sicelore-2.1'
    description     = 'SIngle CEll LOng REads NextFlow'
    mainScript      = 'sicelore-nf/main.nf'
    nextflowVersion = '!>=21.10.3'
    version         = '2.1'
}